[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
anaconda = "*"
jedi = ">=0.13.0"
json-rpc = ">=1.8.1"
service-factory = ">=0.1.5"
black = "==19.10b0"
pre-commit = "*"
isort = "*"
autoflake = "*"
importmagic = "*"
epc = "*"
pep8 = "*"
flake8 = "*"
ipython = "*"

[packages]
pytest-aiohttp = "==0.3.0"
pytest-cov = "==2.10.0"
pytest = "==5.4.3"
pytest-mock = "==3.2.0"
Faker = "==4.1.1"
aioresponses = "==0.6.4"
python-dateutil = "==2.8.1"
aiocron = "==1.3"
funcy = "==1.14"
gunicorn = "==20.0.4"
aiosmtplib = "==1.1.3"
aiohttp = ">=3.6.2"
premailer = "==3.7.0"
sentry-sdk = "==0.16.1"
coloredlogs = ">=10.0"
PyYAML = "==5.3.1"
Jinja2 = "==2.11.2"
SQLAlchemy = ">=1.3.18"
aidbox-python-sdk = {git = "https://github.com/Aidbox/aidbox-python-sdk.git",ref = "500f2a8e19db4d3519377ec13e38294b3655a89c"}
fhirpy = {git = "https://github.com/beda-software/fhir-py.git",ref = "7e08c9ec844b115fbb46075c556449dbe0c8e37f"}
aidboxpy = {git = "https://github.com/beda-software/aidbox-py.git",ref = "f52a11f15aa7de54d9baa26a691d8c73dda9677c"}
fhirpathpy = {git = "https://github.com/beda-software/fhirpath-py.git",ref = "ea8193536dcb02e1bf9fd26023d3a57ed2df964d"}
{% if cookiecutter.add_push_notifications|lower == 'y' %}
aiofcm = "==1.3"
aioapns = "==1.12"
{% endif %}
{% if cookiecutter.add_aws|lower == 'y' %}boto3 = "==1.15.2"{% endif %}
{% if cookiecutter.add_gcs|lower == 'y' %}google-cloud-storage = "==1.31.1"{% endif %}
{% if cookiecutter.add_google_oauth|lower == 'y' %}google-auth = "==1.21.2"{% endif %}

[requires]
python_version = "3.8"
